# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Objectives:
* List popular languages that Data Scientists use
* List Some of the commonly used libraries used by Data Scientists
* List Some of the commonly used Data Science Tools

Some of the popular languages that Data Scientists use are: 
1. python
2. R
3. Java

Some of the commonly used libraries used by Data Scientists include:

1. numpy
2. ggplot
3. panda

| Data Science Tools |
|--------------------|
| Jupyter Notebook |
| R studio |
| GitHub |

Below are a few examples of evaluating arithmetic expressions in Python:

In [7]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author
Yash